h1 {
    color: #fefefe;
  }
.film-list-container {
    background-color: #242A32;
    margin-top: 1rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 2rem;
    box-shadow:  2px 2px #0296E5, -2px -2px 2px #0296E5, 2px -2px 2px #0296E5, -2px 2px 2px #0296E5;


    .film-list-inner-container {
        padding: 1rem;

        img {
            border: 1px solid #242A32;
            border-radius: 5px 5px 0 0;

        }

        a {
            text-decoration: none;
            color:#0296E5;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

       
    }
   
}